@import "variables";
@import "mixins";
@import "_components/search-form";
@import "_components/nav-bar";
@import "_components/footer";

body {
    background-color:$color_primaire;
    @include desktopView($breackpoint) {
        background-color:yellow;
    }
}

p {
    color:red;
}
.sidebar{
    background: $color_primaire_fonce;
    padding: 1rem;
}