.footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: rgb(229, 225, 225);
    // height: 2rem;
    text-align: center;
    line-height: 2rem;
    &_explication{
        color: black;
        font-weight: bold;
        font-family: sans-serif;
    }
    &_lien{
        text-decoration: none;
        font-weight: 100;
        font-family: serif;  
    }
    
}
