.header {
    display: grid;
    background-color: $color_primaire;
    padding: 2rem 10rem;
    color: white;
    font-family: sans-serif;
    &_img {
        margin: 0;
    }
    &_titre {
        margin: .5rem 0;
        font-size: 1.5rem;
        font-weight: 800;
    }
    &_accroche {
        margin: 0;
        font-size: 1rem;
    }
    &_nav-bar {
        margin: 0;
        &_list {
            margin: 1rem 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            @include desktopView($breackpoint) {
                flex-direction: row;
                &_item {
                    margin: 0;
                    list-style: none;
                    &-link {
                        color: white;
                        text-decoration: none;
                        padding: .5rem;
                        &.active {
                            background-color: $color_primaire_fonce;
                        }
                    }
                }
            }
        }

    }
}
